.container-box-header {
  height: 56px;
}

.box-header {
  width: 140px;
  height: 30px;
  background-color: transparent;
  border: 1px dashed #333;
  border-radius: 500px;
  margin-right: 5px;
  
}

.title-box-header {
  color: #555;
  margin-left: 5px;
}

.input-box-header {
  appearance: none;
  border-radius: 500px;
  height: 30px;
  width: 140px;
  cursor: pointer;
  box-shadow: inset 0 0px 7px -2px var(--color);
  margin-right: 8px;
}

.input-box-header::-webkit-slider-thumb {
  opacity: 0;
}

.sub-input-box {
  position: absolute;
  display: block;
  width: var(--width);
  height: 30px;
  border-radius: 500px;
  cursor: none;
  background-color: var(--color);
  pointer-events: none;
}


.container-volume-box-min{
  /* width: 100px; */
}